.card {
	margin: 5rem auto 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	max-width: 80%;
	border-radius: 0.5rem;
	padding: 1rem;
}

@media screen and (min-width: 1200px) {
	.card {
		max-width: 50%;
	}
}
